// globals

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-stack;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 0.125em solid $blue;
}
.container {
  @include container;
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}
