.logo {
  //text-align: center;
  width: 15.5em;
  margin: 0 auto;
  padding: 0.33em;
  @include linear-gradient($blue, $red);
  h1 {
    background: $white;
    padding: 0.5rem;
    line-height: 1.1;
  }
  .line {
    display: block;
  }

  // Track it right
  .line-1 {
    letter-spacing: 0.01em;
  }
  .line-2 {
    font-size: 1.2em;
    letter-spacing: .32em;
  }
  .line-3 {}

}