// variables

$font-stack: sans-serif;

//colors
$white: #fff;
$gray-light: #ccc;
$gray-lighter: #eee;
$gray-dark: #666;
$black: #333;
$blue: #38B2B4;
$red: #D84157;
$red-light: lighten($red, 30%);

// social media
$twitter-blue: #00ABF0;
$fb-blue: #2E4DA7;

$width-col-1: 17%;
$width-gutter: 3%;
$width-col-2:80%; 